@import "../../assets/scss/utils/variables";

.pagination {
   a {
      color: $theme-color;

      &:hover {
         color: darken($theme-color, 10);
         text-decoration: underline;
      }
   }
}